body {
    font-family: 'Open Sans', sans-serif;
    min-width: 200px;
    margin: 5px 0 0 0;
    max-width: 400px;
}

#status {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.instructions a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hist-div.sea-div ul {
    margin-bottom: 0;
    margin-top: 6px;
}

.hist-div.sea-div ul li a {
    /*color: #ADFF2F;*/
}

.hist-div ul li {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    max-width: 390px;
    border-bottom: 0.2px #dcdbdb solid;
    text-align: justify;
}

.hist-div ul li p {
    margin: 0;
    margin-bottom: 2px;
    word-wrap: break-word;
}

.hist-div ul li p img {
    margin-left: 5px;
}

a:focus {
    outline: none;
}

li:hover {
    background: rgba(220, 213, 213, 0.36);
    font-weight: 600;
}

.hist-div ul {
    padding: 0;
    overflow-x: hidden;
    max-height: 400px;
    margin-top: 4px;
}

.hist-div ul a {
    color: #3737fd;
    text-decoration: none;
    font-weight: bold;
    display: block;
    word-wrap: break-word;
    font-size: 13px;
}

.inpt {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    width: 96%;
    max-width: 380px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.inpt1 {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    width: 96%;
    margin-bottom: 2px;
    margin-left: 3px;
}

.key-d {
    margin-bottom: 5px;
}

.short_save {
    font-size: 18px;
    font-weight: bold;
}

.submt {
    padding: 7px;
    margin-top: 5px;
    margin-left: 2px;
    color: black;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.submt:hover {
    background-color: #a1e834;
}

.selected {
    background: rgba(220, 213, 213, 0.36);
    font-weight: 600;
}

#msg {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tdcent {
    text-align: center !important;
}

.tabl {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
}

.tabl tr th {
    text-align: center;
}

.tabl tr td {
    text-align: left;
    border: 1px solid;
    word-wrap: break-word;
    max-width: 310px;
}

.instructions {
    margin: 10px 0 0 0;
    background-color: #f0eeee;
    font-size: 12px;
    text-align: justify;
}

.hist-div ul {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

.hist-div ul::-webkit-scrollbar {
    width: 12px;
}


/* Track */

.hist-div ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

.hist-div ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #bcc1b4;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
