body {
    font-family: 'Bree Serif', serif;
    min-width: 200px;
    margin: 5px 0 0 0;
}

#status {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.hist-div.sea-div ul li {
    background-color: red;
    margin-bottom: 0;
}

.hist-div ul li {
    list-style: none;
    background-color: #ff5252;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}

.hist-div ul {
    padding: 0;
    overflow-x: hidden;
}

.hist-div ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.inpt {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    width: 100%;
}

.inpt1 {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
}

.key-d {
    margin-bottom: 5px;
}

.submt {
    padding: 7px;
    margin-top: 5px;
    margin-left: 2px;
    background-color: #ff5252;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
}

.submt:hover {
    background-color: #ff3333;
}

.selected {
    background-color: blue !important;
}

#msg {
    text-align: center;
    font-size: 20px;
}

.tabl {
    width: 100%;
    font-size: 14px;
}

.tabl tr td {
    text-align: center;
    border: 1px solid;
}

.instructions{
	margin: 10px 0 0 0;
	background-color: #f0eeee;
}


