body {
    font-family: 'Bree Serif', serif;
    min-width: 200px;
    margin: 5px 0 0 0;
    max-width: 400px;
    background-color: black;
}

#status {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

.hist-div.sea-div ul li {
    background-color: #444242;
    margin-bottom: 0;
}

.hist-div.sea-div ul li a {
    color: #ADFF2F;
}

.hist-div ul li {
    list-style: none;
    background-color: #444242;
    margin-bottom: 4px;
    padding: 10px;
    font-size: 15px;
    max-width: 390px;
}

.hist-div ul li p {
    margin: 0;
    margin-bottom: 2px;
    color: white;
}

.hist-div ul li p img {
    margin-left: 5px;
}

a:focus {
    outline: none;
}

.hist-div ul {
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 400px;
}

.hist-div ul a {
    color: #DCDCDC;
    text-decoration: none;
    font-weight: bold;
    display: block;
    word-wrap: break-word;
}

.inpt {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    width: 100%;
}

.inpt1 {
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
    width: 100%;
    margin-bottom: 2px;
}

.key-d {
    margin-bottom: 5px;
}

.submt {
    padding: 7px;
    margin-top: 5px;
    margin-left: 2px;
    background-color: #ADFF2F;
    color: black;
    font-weight: bold;
    border: none;
    font-size: 15px;
}

.submt:hover {
    background-color: #a1e834;
}

.selected {
    border: 5px solid;
}

.selected a {
    color: #ADFF2F !important;
}

#msg {
    text-align: center;
    font-size: 20px;
    color: #ADFF2F;
}

.tabl {
    width: 100%;
    font-size: 15px;
    color: white;
}

.tabl tr th {
    text-align: left;
}

.tabl tr td {
    text-align: left;
    border: 1px solid;
    word-wrap: break-word;
    max-width: 310px;
}

.instructions {
    margin: 10px 0 0 0;
    background-color: #f0eeee;
    font-size: 15px;
}

.hist-div ul {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

.hist-div ul::-webkit-scrollbar {
    width: 12px;
}


/* Track */

.hist-div ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

.hist-div ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ADFF2F;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
